/* main settings
================= */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Flex Framework*/ 
.main_flex {display:flex;display:-webkit-flex;-webkit-flex-flow:row wrap;flex-flow:row wrap;} 
.main_flex__nowrap{display:flex;display:-webkit-flex;-webkit-flex-flow:row nowrap;flex-flow:row nowrap;} 
.flex__jcontent_between {justify-content:space-between;-webkit-justify-content:space-between;} 
.flex__jcontent_start{justify-content:flex-start;-webkit-justify-content:flex-start;}
.flex__jcontent_end{justify-content:flex-end;-webkit-justify-content:flex-end;} 
.flex__jcontent_center{justify-content:center;-webkit-justify-content:center;} 
.flex__jcontent_around{justify-content:space-around;-webkit-justify-content:space-around;} 
.flex__jcontent_between{justify-content:space-between;-webkit-justify-content:space-between;} 
.flex__auto {flex:auto;-webkit-flex:auto;-ms-flex:auto;} 
.flex__align-items_start{align-items:flex-start;-webkit-align-items:flex-start;} 
.flex__align-items_end{align-items:flex-end;-webkit-align-items:flex-end;} 
.flex__align-items_baseline{align-items:baseline;-webkit-align-items:baseline;} 
.flex__align-items_stretch{align-items:stretch;-webkit-align-items:stretch;} 
.flex__align-items_center{align-items:center;-webkit-align-items:center;} 
.flex__align-content_flex-start{align-content:flex-start;-webkit-align-content:flex-start;} 
.flex__align-content_flex-end{align-content:flex-end;-webkit-align-content:flex-end;} 
.flex__align-content_space-between{align-content:space-between;-webkit-align-content:space-between;} 
.flex__align-content_center{align-content:center;-webkit-align-content:center;} 
.flex__align-content_space-around{align-content:space-around;-webkit-align-content:space-around;} 
.flex__align-content_stretch{align-content:stretch;-webkit-align-content:stretch;} 
.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1;} 
.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2;} 
.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3;} 
.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4;}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6c7279;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}
.aligner {
	text-align: center;
}
.centro {
	margin: 0px auto;
}
.upper {
	text-transform: uppercase;
}
.bold {
	font-weight: 700;
}
.light {
	font-weight: 300;
}
.white {
	color: #fff;
}
a, a:hover, button, button:hover, .anime {
	transition: all 200ms linear;
	cursor: pointer;
	text-decoration: none;
	/* border: none; */
}
li {
	list-style: none;
}
h1, h2, h3, h4 {
	margin: 0;
}
p {
	margin: 0 0 10px;
}

/* container
============= */
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 1.0714rem;
	/* outline: 1px solid red; */
}

/* header
=============== */
.header {
	width: 100%;
	height: 7.1429rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
.header__inner {
	padding: 2.7143rem 0;
	font-family: 'Special Elite', sans-serif;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	border-bottom: 1px solid #515369;
}

/* nav
============ */
.nav {
	display: flex;
}
.nav__link {
	margin-left: 3.5714rem;
	font-size: 0.9286rem;
	font-weight: 700;
	color: #fff;
	opacity: .75;
	transition: opacity .2s linear;
	letter-spacing: .3px;
}
.nav__link:first-child {
	margin-left: 0;
}
.nav__link:hover {
	opacity: 1;
}

/* intro
============ */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	padding-top: 7.1429rem;
	background: #31354f url(../img/bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.intro__inner {
	width: 100%;
	max-width: 69.2857rem;
	text-align: center;
}
.intro__title {
	font-size: 4.5714rem;
	line-height: 1.1;
	font-weight: 700;
	color: #fff;
	margin: 0 0 2.1429rem;
}
.intro__subtitle {
	font-size: 1.5714rem;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 4.2857rem;
}

/* button
============ */
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 1rem 2.8571rem;
	font-size: 0.9286rem;
	font-family: inherit;
	color: #fff;
	font-weight: 600;
	border-radius: 2px;
}
.btn--red {
	background-color: #e84545;
}
.btn--red:hover {
	background-color: #dd3434;	
}

/* features
============ */
.features {
	padding-top: 7.1429rem;
	padding-bottom: 5.3572rem;
}
.features__item {
	margin: 1.7857rem 0;
	width: 33.333%;
	padding: 0 2.6rem;
}
.features__icon {
	margin-bottom: 1.4286rem;
}
.features__title {
	color: #2d3033;
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 1.4286rem;
}
.features__text {
	font-size: 1rem;
	color: #6c7279;
	line-height: 1.5;
}

/* projects
============ */
.projects__item {
	width: 25%;
	height: 350px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}
.projects__item:hover .projects__content {
	opacity: 1;
	cursor: pointer;
}
.projects__photo {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate3d(-50%, -50%, 0);
}
.projects__content {
	width: 100%;
	height: 100%;
	flex-direction: column;
	background-color: rgba(232, 69, 69, .9);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
}
.projects__title {
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: .5rem;
}
.projects__text {
	font-size: 1rem;
	color: #fff;
}

/* team
============ */
.team {
	padding: 7.1429rem 0 5rem;
}
.team__inner {
	margin: 0 -1.0714rem;
}
.team__item {
	width: 25%;
	padding: 0 1.0714rem;
	margin-bottom: 2rem;
}
.team__photo {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 1.4286rem;
}
.team__name {
	color: #2d3033;
	font-size: 1.5714rem;
	margin-bottom: 0.5714rem;
}
.team__prof {
	font-size: 0.9286rem;
	color: #e84545;
	margin-bottom: 1rem;
}
.team__text {
	font-size: 1rem;
	line-height: 1.5;
	color: #6c7279;
	margin-bottom: 1rem;
}

/* social
============ */
.social__link {
	width: 2.8571rem;
	height: 2.8571rem;
	border: 1px solid #e8ecee;
	margin-right: 0.2857rem;
	background-color: #fff;
}
.social__link svg {
	fill: gray;
}
.social__link:hover {
	background-color: #e8ecee;
}
.social__link:hover svg {
	fill: #000;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

/* reviews
============ */
.reviews {
	background-color: #53354a;
	overflow: hidden;
}
.reviews__photo {
	width: 50%;
	height: 500px;
	position: relative;
}
.reviews__img {
	position: absolute;
	top: 50%;
	right: 0;
	/* height: 100%; */
	z-index: 1;
	transform: translateY(-43%);
}
.reviews__content {
	width: 50%;
	padding-left: 5.7143rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.reviews__text {
	font-family: 'Cardo', sans-serif;
	font-style: italic;
	font-size: 2.5714rem;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 1.5rem;
}
.reviews__author {
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
}